{% extends "layout.html" %}
{% block content%}
    <div class="container">
        <div class="logo">
            <h1>To-do list</h1>
            <p>Welcome to our community</p>
        </div>
        <div class="form-container">
            <div class="form login">
                <h2>Login</h2>
                <form>
                    <input type="email" placeholder="Email" required>
                    <input type="password" placeholder="Password" required>
                    <a href="#" class="forgot-password">Forgot Password?</a>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock%}