{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="logo">
        <h1>To-do list</h1>
        <p>Welcome to our community</p>
    </div>
    <div class="form-container">
        <div class="content-section">
            <form method="post" action="">
                    {{ form.hidden_tag() }}
                    <input type="email" placeholder="Email" required>
                    <input type="password" placeholder="Password" required>
                    <input type="password" placeholder="Confirm Password" required>
                    <button type="submit">sign up</button>
            </form>
        </div>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a href="{{ url_for('login') }}" class="ml-2">Sign In</a>
        </small>
    </div>
</div>
    
{% endblock %}